.game-board {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #f0f0f0;
  padding: 10px;
  box-sizing: border-box;
}

.opponent-area,
.player-area {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20%;
}

.opponent-cards,
.player-cards {
  width: 60%;
  /* Stretched width */
  height: 100%;
  background-color: #d1e7dd;
  border: 2px solid #0f5132;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* Space between cards */
  flex-wrap: wrap;
  /* Allow cards to wrap if needed */
}

.middle-area {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.active-cards {
  width: 60%;
  min-height: 30%;
  background-color: #f8d7da;
  border: 2px solid #842029;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  transition: background-color 0.3s ease;
}

.player-cards .card {
  position: relative;
  margin: 10px;
}

.active-cards .card {
  position: relative;
  margin: 10px;
}


/* Opponent Stack */
.opponent-stack {
  position: fixed;
  width: 120px;
  height: 160px;
  top: 10px;
  right: 20px;
}

/* Player Stack */
.player-stack {
  position: fixed;
  width: 120px;
  height: 160px;
  bottom: 10px;
  left: 20px;

}

.custom-drag-layer {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.drag-preview {
  position: absolute;
  width: 120px;
  height: 160px;
  background-color: #0f5132;
}

.drag-preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #333;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

/* Opponent HP and Mana */
.opponent-hp-mana {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #f8d7da;
  /* Light red for opponent */
  border-radius: 5px;
}

.opponent-hp,
.opponent-mana {
  font-size: 1rem;
  font-weight: bold;
  color: #721c24;
  /* Dark red for text */
}

/* Player HP and Mana */
.player-hp-mana {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #d4edda;
  /* Light green for player */
  border-radius: 5px;
}

.player-hp,
.player-mana {
  font-size: 1rem;
  font-weight: bold;
  color: #155724;
  /* Dark green for text */
}